body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

#app {
  padding: 4em;
  background: #fffef0;
  height: calc(100vh - 8em);
  filter: url(#roughpaper);
  box-shadow: 0 0 120px #8a4d0f inset;
}

canvas {
  /* make it center of the screen  */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 80vh;
  border-radius: 8px;
  filter: url(#noiseFilter);
  background-color: #2e2f29;
}

svg {
  width: 0;
  height: 0;
}

img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0.1;

  height: 80vh;
  object-fit: cover;
  object-position: center;
  border-radius: 8px;
  z-index: 1;
}
